<% unless comment.op %>
	<div class="comment">
		<div class="debug">
			<p>content: <%= comment.content %></p>
			<p>reply_count: <%= comment.replies.count %></p>
			<p>show: <%= link_to 'show', post_comment_path(comment.post, comment) %></p>
			<p>reply: <%= link_to 'reply', reply_path(comment.post, comment) %></p>
			<p>vote_count: <%= comment.vote_count %></p>
			<% if comment.op %>
				<p>op_id: <%= comment.op.id %></p>
				<p>op_content: <%= comment.op.content %></p>
			<% end %>
			<% if comment.user %>
				<p>user_id: <%= comment.user.id %></p>
			<% end %>
		</div>
		<p><%= comment.content %></p>
		<span class="time_stamp">
			<p>
			Posted <%= time_ago_in_words(comment.created_at) %> ago by 
			<span class="user_name"><%= link_to comment.user.name, comment.user %></span>
			</p>
		</span>
		<%= render 'comments/comment_voting', comment: comment %>
		<div class="right">
			<p>
			<% if current_user?(comment.user) %>
				<%= link_to 'Delete', post_comment_path(comment.post, comment), method: :delete, 
									  confirm: 'Are you sure?' %>
			<% end %>
			<span class="reply-link"><%= link_to 'Reply', reply_path(comment.post, comment) %></span>
			</p>
		</div>
	</div>
<% end %>
<ul class="replies">
	<%= render partial: 'comments/reply', collection: comment.replies %>
</ul>
