<li class="post">
	<div class="count"><%= post.vote_count %></div>
	<h3 class="post-title"><%= link_to post.title, post if post.title %></h3>
	<p class="link"><%= link_to post.link, post.link %></p><br>
	<div class="post-voting">
		<%= render 'voting', post: post %>
	</div>
	<p class="posted-by">
		Posted <%= time_ago_in_words post.created_at %> ago by 
		<span class="author"><%= link_to post.user.name, post.user %></span>
	</p>
</li>