<h1><%= @post.title %></h1>
<h3><%= link_to @post.link, @post.link %></h3>
<p>Posted by <%= link_to @post.user.name, @post.user %></p>
<p><%= @post.content %></p>

<%= render 'voting', post: @post %>

<%= link_to "Comment", new_post_comment_path(@post.id) %>

<div class="divide"></div>
<% if @comments.any? %>
	<ul class="comments" id="comments_list">
		<%= render @comments.where(op_id: nil) %>
	</ul>
<% end %>